/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  position: relative;
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #f1f4f4;
}

/* FONTS */
@font-face {
  font-family: 'BasicTitle';
  src: url("./fonts/basictitlefont.ttf");
 }

@font-face {
  font-family: 'Noodle';
  src: url("./fonts/big_noodle_titling.ttf");
 }

@font-face {
  font-family: 'Road';
  src: url("./fonts/Kenzo Regular.otf");
 }

/* COLORS
--------------------------------------------------- */

/* IMAGE & BUTTONS PROPERTIES
 -------------------------------------------------- */
.main-btn {
   background-color: #3760b2;
   border: 5px solid #3760b2;
   color: #ffffff;
   padding 32px 32px 32px 32px;
   vertical-align: center;
   text-align: center;
   text-decoration: none;
   display: block;
   margin: 4px 4px;
   font-size: 25px;
   border-radius: 26px;
}

.main-btn:hover {
   background-color: #f1ffc6;
   color: #000000;
   border: 5px solid #3760b2;
}


/* CUSTOMIZE THE NAVBAR
--------------------------------------------------- */
/*For dropdowns in navbar*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
   display: block;
   overflow: visible;
}

/* Tablist */


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  overflow: visible;
}

.navbar-header {
   float: left;
   text-align: center;
}

.navbar-brand {
  font-family: "Noodle";
  padding-left: 50px;
  font-size: 45px;
  vertical-align: middle;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  color: #ffffff;
}

.navbar-brand:hover {
   color: #f1fec6;
}

.navbar {
  background-color: #17336d;
  color: #ffffff;
  overflow: visible;
}

.navbar-nav {
  font-family: "Noodle";
  padding-right: 50px;
  font-size: 25px;
  color: #ffffff;
}

.navbar-nav:hover {
   border-radius: 15%;
}

.dropdown-menu{
  font-size: 20px;
}

.icon-bar {
   background-color: #ffffff;
}

.go-top {
   position: fixed;
   bottom: 2em;
   right 2em;
   text-decoration:none;
   color:white;
   background-color: #ffffff;
   font-size:12px;
   padding: 1em;
   border-radius: 45%;
}

.go-top:hover {
   background-color: #17336d;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;

  color: #ffffff;
}

.carousel-caption h1 {
  font-family: "Noodle";

  text-shadow: -3px 0 #17336d, 0 3px #17336d, 3px 0 #17336d, 0 -3px #17336d;
}

.carousel-caption h2 {
  font-family: "Noodle";

  text-shadow: -2.5px 0 #17336d, 0 2.5px #17336d, 2.5px 0 #17336d, 0 -2.5px #17336d;
}

.carousel-hr{
  background-color: #ffffff;
  box-shadow: -2.5px 0 #17336d, 0 2.5px #17336d, 2.5px 0 #17336d, 0 -2.5px #17336d;
}

.carousel-inner > .item > img{
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  width: 1920px;
  object-fit: cover;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------------------- */
.featurette{
  padding-top: 0;
}
.featurette h2{
  font-family: "Noodle";
  color: #17336d;
}

hr{
  border: none;
  height: 4px;
  background-color: #17336d;
  margin-left: 0;
  margin-top: -1px;
}

#genhr {
   width: 100%;
}

#events, #about, #archive, #blog, #join{
   padding-top: 100px;
   margin-top: -100px;
}

.featurette-divider {
  height: 5px;
  background-color: #eaeef2;
  border: 5px;
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.mid-divider {
  height: 1px;
  background-color:  #e7e9ef;
  border: 5px;
}

.alt-div {
   background-color: #edf3ff;
   width: 100%;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* For special emphasized headings */
.featurette-heading-center {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -1px;
   text-align: center;
   background-color: #e58f65;
   border-radius: 70%;
}

#loc1{
  padding-top: 8px;
}

#upcomingshowingimg{
  margin-top: 100px;
}

#socialimg{
  margin-top: 80px;
}

#blogimg{
  margin-top: 150px;
}

#contactimg{
  margin-top: 50px;
}

.lead{
  font-family: "BasicTitle";
  font-weight: bolder;
}

.desc{
  font-family: "BasicTitle";
  font-weight: bold;
}



/* OFFICER PAGE & IMAGE ALIGNMENT 
 -------------------------------------------------- */
.lead2{
  font-family: "BasicTitle";
  font-size: 32px;
  font-weight: bolder;
}

.bio-icon {
   padding: 5px;
}

.bio-icon:hover {
   opacity: 0.5;
}

#bio-jaime,
#bio-brian,
#bio-chris,
#bio-kendrick,
#bio-alexis,
#bio-izabela {
   padding-top: 100px;
   margin-top: -100px;
}

.bio-desc {
   flex: 1;
}

#officers ul{
   list-style-type: none;
}


/* FOOTER
 ------------------------------------------------- */
#footer {
  font-family: "BasicTitle";
  font-weight: bold;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /*So text doesn't go off-screen*/
   .carousel-caption h1 {
      font-size: 75px;
   }

   .carousel-caption h2 {
      font-size: 32px;
   }

   /*Responsive text of content*/
  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading-center {
     font-size: 60px;
  }

  .lead {
     font-size: 25px;
  }  
  
  .desc {
     font-size: 20px;
  }

   #footer {
      font-size: 15px;
   }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#footer {
   padding-top: 25px;
}
