/*
 * Globals
 */

/* Links */
a {
  display: block;
}
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Fonts
 */

 @font-face {
  font-family: 'Bebas';
  src: url("./fonts/BebasNeue.otf");
 }

@font-face {
  font-family: 'BasicTitle';
  src: url("./fonts/basictitlefont.ttf");
 }

 @font-face {
  font-family: 'Noodle';
  src: url("./fonts/big_noodle_titling.ttf");
 }

 @font-face {
  font-family: 'Steelfish';
  src: url("./fonts/steelfish.ttf");
 }

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #4646A3;
  background-image: url("./images/AFBannerImage.png");
  background-size: 100% auto;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.coverheading {
  font-size: 40px;
  font-family: 'BasicTitle';
  font-weight: bold; 
  line-height: 0.3;
}

.coverheading2 {
  font-size: 90px;
  font-family: 'Bebas';
}

.lead {
  font-family: 'BasicTitle';
  font-weight: bold;
  font-size: 27px;
  line-height: 0.3;
  padding-top: 10px;
}

.buttons {
  background-color: #363E70;
  border: none;
  color: white;
  width: 40%;
  padding-top: 14px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'BasicTitle';
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
